* {
	font-family: sans-serif,arial;
}

body {
    margin:0px;
    padding:0px;
    background: linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)) , url("../Images/textture-bg.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%; 
  }
  
nav {
  background-color: #000000;
  padding: 20px;
}

nav .logo {
  text-decoration: none;
  font-size: 32px;
  line-height: 30px;
  color: white;
  font-weight: bolder; 
  display: inline-block;
  margin-left: 15px;
}

nav ul {
  display: inline-block;
  float: right;
  margin: 0px;
  margin-top: 5px;
}

nav li {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 4px 16px;
  margin-right: 10px;
}

nav .active,nav li a:hover {
  background-color: #9966ff;
  border-radius: 3.5px;
}

footer {
	background-color: #000000;
	color: white;
	margin:0px auto;
	padding:4px;
}

footer a {
	color: #9966ff;
	text-decoration: none;
}

#upper-part {
  height: 200px;
}

#heading {
  text-align: center;
  font-size: 55px;
  color: white;
  padding-top: 81px;
}

#bottom-part {
  padding: 10px 20px 0px 20px;
  text-align: center;
}

#bottom-part h3 {
  color:#9966ff;
}

#bottom-part p {
  padding-top: 0px;
}

#bottom-part #heading {
  font-weight: bold;
  color: #000000;
  font-size: 30px;
} 

#bottom-part #content {
  font-size: 22px;
}

#about-section {
  background-color: #ffffff;
  padding: 20px;
}

#about-section h3 {
  color: #9966ff;
  font-size: 22px;
  text-align: center;
}

#auth-box {
	width: 200px;
	height: 300px;
	margin:0 auto;
	background-color: white;
	padding:20px;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 #00000035;
	transition: 0.3s;
	background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  text-align: center;
}

#auth-box #about-pic {
  margin-top: 10px;
	border-radius: 35px;
	width: 65px;
	height: 65px;
  margin-right: 5px;
}

#auth-box h2 {
	color: #000000;
  font-size: 19px;
  text-align: center;
}

#auth-box p {
  padding: 5px;
}

#social-media-icons {
  padding-top: 15px;
  margin:0px auto;
}

.social-media-icons {
  margin-right: 13px;
  margin-left: 13px;
}
.social-media-icons:hover{
  background-color: #00000000;
 }

.social-media-icons img {
  width:34px;
  height:34px;
}

#info {
  background-color: #FFFFFF;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  
}

@media (max-width: 952px) {
  nav {
    height: 90px;
    text-align: center;
    padding: 10px 0px;
  }
  nav .logo {
    display: block;
    margin-bottom: 30px;
  }
  nav ul {
    padding: 0px;
    float: none;
    display: inline;
  }
  nav ul li {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    display: inline;
  }
  nav li a {
    padding:6px 4px;
  }

  #bottom-part {
    
  }
  #info {
    
  }
  #bottom-part p {
   
  }
  #bottom-part #heading {
    
  } 
  #bottom-part h3 {
   
  }
  #bottom-part #content {
    font-size: 18px;
    
  }
}
