* {
	font-family: sans-serif,arial;
  padding: 0px;
  margin: 0px;
}

body {
    background: linear-gradient(rgba(50,55,55,0.8), rgba(50, 50, 50, 0.8)) , url("../Images/textture-bg.jpg");
    background-repeat: no-repeat;
    background-size:100% 100%; 
}
  
nav {
  background-color: #000000;
  padding: 20px;
}

nav .logo {
  text-decoration: none;
  font-size: 32px;
  line-height: 30px;
  color: white;
  font-weight: bolder; 
  display: inline-block;
  margin-left: 15px;
}

nav ul {
  display: inline-block;
  float: right;
  margin-top: 5px;
}

nav li {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 4px 16px;
  margin-right: 10px;
}

nav .active,nav li a:hover {
  background-color: #9966ff;
  border-radius: 3.5px;
}

#upper-part {
  padding: 20px;
}

#upper-part #heading {
  text-align: center;
  font-size: 55px;
  color: white;
  margin-top: 35px;
}

#bottom-part {
  padding: 20px;
  text-align: center;
}

#bottom-part #info {
  width: 90%;
  margin: 0px auto;
}

#bottom-part h3 {
  color:#9966ff;
  padding-bottom: 15px;
}

#bottom-part #heading {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 25px;
} 

#bottom-part #content {
  margin-top: 20px;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 23px;
}

#about-section {
  background: linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)) , url("../Images/textture-bg-2.jpg");
  padding: 20px;
  text-align: center;
}

#about-section #intro {
  color: white;
  font-size: 22px;
  padding-bottom: 20px;
}

#about-wrapper {
  background-color: #FFFFFF;
  padding: 20px;
  width: 70%;
  margin: 0px auto;
  border-radius: 20px;
  box-shadow: 3px 3px 4px 4px rgba(0,0,0,0.13);
}

#about-pic {
  margin-top: 10px;
	border-radius: 48px;
	width: 95px;
	height: 95px;
}

#about-section h2 {
	color: #000000;
  font-size: 19px;
  margin-top: 10px;
}

#about-section p {
  margin-top: 15px;
  line-height: 24px;
}

.skill-row {
  width: 50%;
  margin: 50px auto;
  text-align: left;
  line-height: 2;
}

.skill-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.hacker-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skills #skills-header {
  margin-top: 50px;
  color: #9966ff;
  font-size: 35px;
}

.skills .skill-row .skill-name {
  color: #000000;
}

@media screen and (max-width: 952px) {
  nav {
    height: 100px;
    text-align: center;
    padding: 10px 0px;
  }
  nav .logo {
    display: block;
    margin-bottom: 30px;
    padding-top: 8px;
    margin-left: 0px;
  }
  nav ul {
    float: none;
    display: inline;
    white-space: nowrap;
  }
  nav ul li {
    font-size: 16px;
    display: inline;
  }
  nav li a {
    padding:6px 4px;
  }
  #upper-part #heading {
    font-size: 47px;
    color: white;
  }
  #bottom-part #heading {
    font-size: 21px;
  }
  #bottom-part #content {
    font-size: 17px;
  }
  .skill-row {
    width: 80%;
  }
  #about-wrapper {
    width: 90%;
  }
}

footer {
	background-color: #000000;
	color: white;
	padding: 20px 8px;
  text-align: center;
  line-height: 27px;
}

footer a {
	color: #9966ff;
	text-decoration: none;
}