* {
	font-family: sans-serif,arial;
}

body {
  margin:0px;
  padding:0px;
  background-color: white;
}

nav {
  background-color: #000000;
  padding: 20px;
}

nav .logo {
  text-decoration: none;
  font-size: 32px;
  line-height: 30px;
  color: white;
  font-weight: bolder; 
  display: inline-block;
  margin-left: 15px;
}

nav ul {
  display: inline-block;
  float: right;
  margin: 0px;
  margin-top: 5px;
}

nav li {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 4px 16px;
  margin-right: 10px;
}

nav .active,nav li a:hover {
  background-color: #9966ff;
  border-radius: 3.5px;
}

@media (max-width: 952px){
  nav {
    height: 90px;
    text-align: center;
    padding: 10px 0px;
  }
  nav .logo {
    display: block;
    margin-bottom: 30px;
  }
  nav ul {
    padding: 0px;
    float: none;
    display: inline;
  }
  nav ul li {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    display: inline;
  }
  nav li a {
    padding:6px 4px;
  }

}

@media (max-width: 858px) {
  nav {
    height: 90px;
    text-align: center;
    padding: 10px 0px;
  }
  nav .logo {
    display: block;
    margin-bottom: 30px;
  }
  nav ul {
    padding: 0px;
    float: none;
    display: inline;
  }
  nav ul li {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    display: inline;
  }
  nav li a {
    padding:6px 4px;
  }
}

footer {
	background-color: #000000;
	color: white;
	margin:0px auto;
	padding:4px;
}

footer a {
	color: #9966ff;
	text-decoration: none;
}