
* {
	font-family: sans-serif,arial;
}

@viewport {
  width: device-width ;
  zoom: 0 ;
}

body {
/*	background-image: url("../images/bg.jpg"); */
	margin:0px;
	padding:0px;
	background-color: white;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

#upper-part iframe {
  width: 700px;
  height: 350px;
}

nav {
  background-color: #000000;
  padding: 20px;
}

nav .logo {
  text-decoration: none;
  font-size: 32px;
  line-height: 30px;
  color: white;
  font-weight: bolder; 
  display: inline-block;
  margin-left: 15px;
}

nav ul {
  display: inline-block;
  float: right;
  margin: 0px;
  margin-top: 5px;
}

nav li {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 4px 16px;
  margin-right: 10px;
}

nav .active,nav li a:hover {
  background-color: #9966ff;
  border-radius: 3.5px;
}

@media (max-width: 952px){
  nav {
    height: 90px;
    text-align: center;
    padding: 10px 0px;
  }
  nav .logo {
    display: block;
    margin-bottom: 30px;
  }
  nav ul {
    padding: 0px;
    float: none;
    display: inline;
  }
  nav ul li {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    display: inline;
  }
  nav li a {
    padding:6px 4px;
  }
  #upper-part iframe {
    width: 350px;
    height: 210px;
  }
}

@media (max-width: 858px) {
  nav {
    height: 90px;
    text-align: center;
    padding: 10px 0px;
  }
  nav .logo {
    display: block;
    margin-bottom: 30px;
  }
  nav ul {
    padding: 0px;
    float: none;
    display: inline;
  }
  nav ul li {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    display: inline;
  }
  nav li a {
    padding:6px 4px;
  }
  #upper-part iframe {
    width: 350px;
    height: 210px;
  }
}

#upper-part {
    padding-top: 0px;
    margin-top: 0px;
	  text-align: center;
    padding-bottom: 20px;
}

#bottom-part {
    padding: 20px;
    background-color: white;
}

#welmsg {
	color: #161697;
	font-size: 50px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	padding-bottom: 20px;
}

#auth-box {
	width: 200px;
	height: 300px;
	margin:0 auto;
	background-color: white;
	padding:20px;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 #00000035;
	transition: 0.3s;
	background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

}

#auth-box #about-pic {
	border-radius: 35px;
	margin-left: 15px;
	width: 65px;
	height: 65px;
}

#auth-box h2 {
	color: #000000;
}

#auth-box p {
  padding: 5px;
}

footer {
	background-color: #000000;
	color: white;
	margin:0px auto;
	padding:4px;
}

footer a {
	color: #9966ff;
	text-decoration: none;
}

#social-media-icons {
  padding-top: 15px;
  margin:0px auto;
}

.social-media-icons {
  margin-right: 13px;
  margin-left: 13px;
}
.social-media-icons:hover{
  background-color: #00000000;
 }

.social-media-icons img {
  width:34px;
  height:34px;
}
