/* Base Styles */
* {
  font-family: 'PT Sans', sans-serif; 
  padding: 0px;
  margin: 0px;
}

@viewport {
  width: device-width;
  zoom: 0;
}

nav .burger-menu{
  display: none;
}

footer {
  background-color: black;
  padding: 10px 20px;
}
footer p {
  color: white;
  text-align: center;
}
footer a {
  color: blueviolet;
  text-decoration: none;
}
nav {
  background-color: black;
}
nav a {
  text-decoration: none;
}
#upper-part {
  background-color: lightgreen;
  text-align: center;
}
#bottom-part {
  background-color: #b0e0e6;
  text-align: center;
}

/* Mobile Styles */
nav {
  padding-top: 15px;
}
nav .logo {
  color: white;
  font-size: 30px; 
  display: inline; 
  margin-left: 20px;
}
nav .burger-menu {
  display: inline;
  float: right;
  cursor: pointer;
  margin-top: 3px;
  margin-right: 20px;
}
nav .burger-menu img {
  width: 27px;
}
nav ul {
  overflow: hidden;
  margin-top: 15px;
  height: 0px;
}
nav ul li {
  display: block;
  text-align: center;
  padding: 2%;
  background-color: #272727;
  width: 96%;
  border-bottom: 2px solid #404040;
}
nav ul li a {
  color: white;
  font-size: 18px;
}
nav ul .active , nav ul li a:hover {
  color: blueviolet;
}
nav ul.open {
  height: auto;
}
#upper-part {
  background-color: #f57970;
  background: url(../Images/textture-bg.jpg);
  background-size: 100%;
  padding: 10px 0px;
}
#upper-part #welmsg {
  color: aliceblue;
  font-size: 35px;
  margin-bottom: 20px;
}
#upper-part iframe {
  width: 60%;
}
#bottom-part {
  text-align: center;
  padding: 50px 10px;
}
#auth-box {
  width: 60%;
  max-width: 180px;
  margin: 0px auto;
  margin-top: 75px;
  padding: 20px 20px;
  text-align: center;  
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px #00000015;
  position: relative;
}
#auth-box #name {
  color: blueviolet;
  margin-bottom: 10px;
  margin-top: 40px;
}
#auth-box #info {
  margin-top: 22px;
}
#auth-box #about-pic {
  position: absolute;
  top: -40px;
  left: 32%;
  right: 100%;
  bottom: 0%;
  width: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  border: 3px solid blueviolet;
  padding: 2px;
}
#auth-box #social-media-icons {
  margin-top: 35px;
  padding-left: 5%;
}
#auth-box #social-media-icons .social-media-icons img {
  width: 32px;
  margin-right: 5%;
}

/* Tablet Styles */

@media screen and (min-width:600px) {
  nav {
    padding-bottom: 15px;
  }
  nav .logo {
    display: block;
    text-align: center;
  }
  nav .burger-menu {
    display: none;
  }
  nav ul {
    margin-top: 5px;
    margin-left: 5%;
    height: auto;
    text-align: center;
  }
  nav ul li {
    display: inline-block;
    width: auto;
    border-bottom: none;
    background-color: transparent;
    margin-right: 5%;
  }
  nav ul li a {
    padding: 4px 8px;
  }
  nav ul .active , nav ul li a:hover {
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
  }
  #upper-part iframe {
    width: 40%;
  }
  #auth-box {
    width: 35%;
    max-width: 180px;
  }
}
/* Laptop or Desktop Styles */ 

@media screen and (min-width:940px) {
  nav {
    padding-bottom: 15px;
  }
  nav .logo {
    display: inline-block;
  }
  nav .burger-menu {
    display: none;
  }
  nav ul {
    margin: 0px;
    display: inline-block;
    height: auto;
    float: right;
    width: 60%;
  }
  nav ul li {
    margin-top: 0px;
    display: inline-block;
    width: auto;
    background-color: transparent;
    border-bottom: none;
    padding-top: 7px;
  }
  nav ul li a {
    font-size: 1.2em;
    padding: 4px 6px;
  }
  nav ul .active , nav ul li a:hover {
    background-color: blueviolet;
    color: white;
    border-radius: 3px;
  }
  #upper-part #welmsg {
    font-size: 40px;
    font-weight: bold;
  }
  #upper-part iframe {
    width: 25%;
  }
  #auth-box {
    width: 25%;
    max-width: 180px;
  }
}