* {
	font-family: sans-serif,arial;
  padding: 0px;
  margin: 0px;
}

@viewport {
  width: device-width;
  zoom: 0;
}
nav .burger-menu{
  display: none;
}

nav {
  background-color: #000000;
  padding: 20px;
}

nav .logo {
  text-decoration: none;
  font-size: 32px;
  line-height: 30px;
  color: white;
  font-weight: bolder; 
  display: inline-block;
  margin-left: 15px;
}

nav ul {
  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

nav li {
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-left: 13px;
  margin-right: 13px;
}

nav .active,nav li a:hover {
  background-color: #9966ff;
  border-radius: 3.5px;
}

body {
  background: linear-gradient(rgba(255,255,255,0.20), rgba(255,255,255,0.20)) , url("../Images/textture-bg.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

#upper-part {
  padding-top: 45px;
  text-align: center;
  padding-bottom: 25px;
}

#welmsg {
	color: white;
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 20px;
}

#upper-part iframe {
  margin-top: 30px;
  width: 47%;
  height: 350px;
}

@media (max-width: 952px){
  nav {
    height: 100px;
    padding: 10px 0px;
  }
  nav .logo {
    display: block;
    margin-bottom: 30px;
    padding-top: 8px;
    margin-left: 0px;
    text-align: center;
  }
  nav ul {
    float:none;
    display: block;
    white-space: nowrap;
    width: 90%;
    margin: 0px auto 0px 0%;
    text-align: center;
  }
  nav ul li {
    font-size: 16px;
    display: inline-block;
    width: 18%;
    margin: 0px;
  }
  nav li a {
    padding:6px 4px;
    margin: 0px;
  }
  #upper-part iframe {
    width: 75%;
    height: 220px;
  }
}

#bottom-part {
    padding: 20px;
    background-color: white;
}

#auth-box {
	width: 200px;
	height: 300px;
	margin:0 auto;
	background-color: white;
	padding:20px;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 #00000035;
	transition: 0.3s;
	background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
}

#auth-box #about-pic {
	border-radius: 35px;
	margin-left: 15px;
	width: 65px;
	height: 65px;
  margin: 20px;
}

#auth-box h2 {
	color: #000000;
  margin-top: 10px;
}

#auth-box p {
  padding: 5px;
  line-height: 24px;
}

#social-media-icons {
  padding-top: 15px;
  margin:0px auto;
}

.social-media-icons {
 margin: 0px 13px;
}

.social-media-icons img {
  width:34px;
  height:34px;
}

footer {
	background-color: #000000;
	color: white;
	padding: 20px 8px;
  line-height: 27px;
  text-align: center;
}

footer a {
	color: #9966ff;
	text-decoration: none;
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 480px) {
  nav {
    height: auto;
  }
  nav {
    padding: 10px 0px 0px 0px;
  }
  nav .logo {
    display: inline;
    margin-left: 20px;
  }
  .burger-menu {
    display: inline !important;
    float: right;
    margin-right: 15px;
    cursor: pointer;
 }
 .burger-menu img {
   width: 27px;
   height: 27px;
   margin: auto 0px;
 }
  nav ul {
    overflow: hidden;
    margin: 0px;
    width: 100%;
    margin-top: 8px;
    height: 0px;
  }
  nav ul li {
    display: block;
    margin: 10px auto;
    width: 94%;
    background-color: #2c2c2c;
    padding: 3%;
    margin: 0px;
  }
  nav .active {
    background-color: transparent;
    color: #9966ff;
  }
  nav li a:hover {
    background-color: transparent;
    color: #9966ff;
  }
  nav ul.open {
    height: auto;
  }
}