
* {
	font-family: sans-serif,arial;
}

@viewport {
  width: device-width ;
  zoom: 0 ;
}

body {
/*	background-image: url("../images/bg.jpg"); */
	background-color: #fafafa;
	margin:0px;
	padding:0px;
}

#header {
	background-color:white;
	padding:10px;
}

#header img {
	width: 95px;
	height: 95px;
}

#header h1 {
    color: #000000 ;
    font-size: 22px;
    font-weight: bolder;
    margin :auto 0;
}

#header li {
	display: inline-block;
	margin: 3px 0px 3px 15px;
	font-size: 22px;
}

#header nav,ul {
	margin:15px 0px 10px;
	padding:0px;
}

#header a{
	color: #000000;
	font-size: 22px;
	text-decoration :none;
}

#header a:hover {
	color:red;
}

#welmsg {
	color: navy;
	font-size: 50px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

#auth-box {
	width: 200px;
	height: 250px;
	margin:0 auto;
	background-color: white;
	padding:20px;
	border-radius: 12px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;

}

#auth-box img {
	border-radius: 35px;
	margin-left: 15px;
	width: 65px;
	height: 65px;
}

#auth-box h2 {
	color: #000000;
}

footer {
	background-color: #000000;
	color: white;
	margin:0px auto;
	padding:4px;
}

footer a {
	color: #8A2BE2;
	text-decoration: none;
}