
* {
	font-family: sans-serif,arial;
}

body {
/*	background-image: url("../images/bg.jpg"); */
	background-color: white;
}

#header {
	background-color: #fafafa;
	padding:10px;
}

#header h1 {
    color: crimson ;
    font-size: 32px;
    font-weight: bolder;
    margin :auto 0;
}

#header a{
	color: violet;
	font-size: 18px;
	text-decoration :none;
}

#header a:hover {
	color:red;
}

#welmsg {
	color: navy;
	font-size: 50px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

#auth-box {
	width: 200px;
	height: 250px;
	margin:0 auto;
	background-color: #fafafa;
	padding:20px;
	border-radius: 12px;
}

#auth-box img {
	border-radius: 35px;
	margin-left: 15px;
}

#auth-box h2 {
	text-decoration: underline;
	margin-left: 5px;

footer {
	background-color: grey;
	padding:2px;
}