* {
	font-family: sans-serif,arial;
}

body {
/*	background-image: url("../images/bg.jpg"); */
	background-color: white;
}

#header h1 {
	text-align: center;
    color: red ;
    font-size: 45px;
    font-weight: bolder;
}

#header a{
	color: blue;
	font-size: 18px;
}

#welmsg {
	color: navy;
	font-size: 50px;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}

#auth-box {
	width: 175px;
	height: 250px;
}

#auth-box img {
	border-radius: 35px;
}

#auth-box h2 {
	text-decoration: underline;
}
footer {
	background-color: grey;
}